<div id="apiprojection" class="projection-container">
    <div id="header">
        <p>API Projections</p>
        <div class="cursor">
            <button class="add-button" (click)="openAddModal(apiAddModal)"><fa-icon class="icon-side-panel"
                    [icon]="addButton"></fa-icon>
                <label class="button-label">Add data</label>
            </button>
        </div>
    </div>
    <div class="horizontal-line"> </div>
    <div class="ag-grid-container-projection">
        <ag-grid-angular class="ag-theme-quartz-dark" style="height: 100%" [rowData]="rowData" [columnDefs]="colDefs"
            [context]="this.context" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>


<ng-template #apiAddModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="add-modal">Add Data</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form class="input-group" (ngSubmit)="onSubmit()" [formGroup]="apiAddProjection">

        <div class="modal-body">

            <div class="mb-3">
                <label for="serviceName">API name</label>
                    <input id="serviceName" class="form-control" placeholder="service name" name="dp"
                        [class]="{'is-invalid':isAddFormSubmitted && apiAddProjection.controls['apiName'].errors}"
                        formControlName="apiName" />

            </div>


        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="isAddFormSubmitted && apiAddProjection.invalid">Add</button>
        </div>
    </form>


</ng-template>