

#home-black {
    background-color:  #212121;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#side-panel {
    background-color: #444444;
    width: fit-content;
    height: 98vh; /* Adjust height as needed */
    margin: 1vh  10px; /* Adjust margin as needed */
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden; /* Prevent scrolling */
    border-radius: 10px;
  }

  #side-panel-content {
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    max-height: 100%; /* Limit the maximum height of the content */
    display: flex;
    flex-direction: column;
  }


.nav-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 25%;
  }
  
  .nav-menu li {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    border-radius: 12px;
   
  }

  .nav-menu li:not(.active-nav):hover {
    background-color: #3B3B3B;
  }
  
  .nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
  }

  .active-nav {
    background-color: #282828;

  }
  
  .nav-menu li.selected a {
    background-color: #5e5e5e; /* Change background color for selected item */
  }


  #router-container {
    
    justify-content: center;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    width: 100%;
    flex: 1;
  }

